@charset "utf-8";
#loginInfo {
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
}

#uploadForm {
	display: flex;
	justify-content: center;
	margin: 20px auto;
}

#uploadForm>div:first-child>input:first-child {
	margin-right: 20px;
}

#imageList {
	width: 900px;
	display: flex;
	flex-flow: wrap;
	margin: auto;
}

.item {
	margin: 10px;
	overflow: hidden;
	width: 200px;
	min-height: 300px;
	border: 1px solid black;
}